private/
tmp/
refs/
jupyterbook-env/
.DS_Store
.ipynb_checkpoints/
.git-rewrite/
.*.ipynb
.RData
.Rhistory

*.doctree
*.pptx
*.swp
*.swo

mypy.ini
mypy_files.txt

config.json

requirements_jupyterbook.txt
